@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Definición de la animación "blink" */
@keyframes blink {
  0% {
    opacity: 1; /* Completamente visible al inicio */
  }
  50% {
    opacity: 0.5; /* Semi-visible en la mitad de la animación */
  }
  100% {
    opacity: 1; /* Completamente visible al final de la animación */
  }
}
.logo {
  width: 200px;
  height: 60px;
}
body {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: 1366px;
  font-family: 'Noto Sans', sans-serif;
}

/* Estilo base para los elementos <li>
nav li {
  padding: 3px;
  border-radius: 10px; 
  transition: background-color 0.3s, transform 0.3s;
} */

/* Estilo cuando el cursor pasa por encima del <li> */
/* nav li:hover {
   background-color: white; 
  color: #000 !important;
   transform: translateY(10px); 
} */
/* nav a {
  color: white !important;
} */

/* Estilos al pasar el cursor por encima de la etiqueta <a> */
.nav-link:hover {
  color: #000; /* Color del texto al pasar el cursor por encima */
}

/* Estilos al pasar el cursor por encima del icono */
.nav-link:hover i {
  color: #16c7ff; /* Color del icono al pasar el cursor por encima */
  animation: blink 1s infinite; /* Aplicamos la animación "blink" al icono */
}
li a:hover,
i:hover {
  color: #000 !important;
}

.container {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.search {
  margin-bottom: 1%;
}
.fa-icon {
  width: 25px;
}

.input-group input {
  width: 400px;
}
.btn-search:hover {
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  color: #000 !important;
  transform: scale(1.1);
}
button {
  padding: 3px;
  transition: transform 0.3s;
}
.button:hover {
  transform: scale(1.1);
}
.info {
  background-color: #d1d9bf;
  opacity: 0.7;
}
li button {
  color: #0d0d0d !important;
}
li button:hover {
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
  color: #d1d9bf !important;
  transform: translateY(-10px);
}
i {
  color: #406473 !important;
}
.button-center {
  margin-left: 50%;
  margin-right: 50%;
}
.btn-save {
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #0d0d0d;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-save:hover {
  color: white;
  background-color: #0d0d0d;
  transform: scale(1.1);
}
.mx-content {
  margin-left: 15%;
}

hr {
  width: 105%;
  border-color: #7a7a7a;
}
input:focus {
  border-color: #0d0d0d !important;
  box-shadow: 0 0 5px #000000 !important;
}
.image-container {
  display: inline-block;
}
/* Mapa de google */
#map {
  height: 400px;
  width: 100%;
}
/* Panorama de google */
#panorama {
  height: 400px;
  width: 100%;
}
.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.container_foto {
  border-radius: 4px;
  background-color: #d1d9bf;
}

.img_cuenta {
  height: 9rem !important;
}
